LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_TRACING=true
LANGSMITH_API_KEY=key
LANGSMITH_PROJECT="LearnAI"
GOOGLE_API_KEY=YOUR_GOOGLE_API_KEY
GOOGLE_CHAT_MODEL=gemini-3.5-flash
GOOGLE_EMBEDDING_MODEL=gemini-embedding-2-preview
OPENAI_API_KEY=sYOUR_OPENAI_API_KEY
OPENAI_CHAT_MODEL=gpt-4o-mini
OPENAI_EMBEDDING_MODEL=text-embedding-3-small
ANTHROPIC_API_KEY=YOUR_ANTHROPIC_API_KEY